<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>jinja test</title>
</head>
<body>
    <h1>TODO</h1>
    <form action="/todo/add" method="post">
        <input type="text" name="title" placeholder="请输入todo">
        <br>
        <button type="submit">添加</button>
    </form>
{#    <div>{{todos}}</div>#}
    <div>
        {% for user in user_list %}
            {{ user.id }} : {{ user.title }}
            <a href="/todo/edit?id={{ user.id }}">编辑</a>
            <a href="/todo/delete?id={{ user.id }}">删除</a>
            创建时间：<span>{{ user.created_time }}</span>
            修改时间：<span>{{ user.updated_time }}</span>
            <br>
        {% endfor %}
    </div>
</body>
</html>
